<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/AdminUI/absenceTable-style.css">
</head>
<body>
    
      <div class="container">
          <div th:replace="/fragments/nav::nav"></div>

              <div class="user">
                  <div>
                      <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                      <p> <i class="fa-solid fa-person-chalkboard"></i> Radoslav Gurev</p>
                  </div>
              </div>
              <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
              </div>
            <table id="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Ученик</th>
                        <th>Закъснения</th>
                        <th>Отсъствия</th>
                        <th>Извинени</th>
                        <th>Общо</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" th:each="s,inx : ${studentsWithAbsences}">
                        <td th:text="${inx.index}+1" class="num">1</td>
                        <td th:text="${s.name}">Мариана Василева</td>
                        <td>
                                                    <div class="grade-semester gra" style="background-color: rgb(248, 112, 112);">
                                                        <p th:text="${s.late.size()}">2</p>
                                                        <div class="absences">
                                                            <div th:each="l : ${s.late}" class="absence">
                                                                <p th:text="${l.date}" class="info">2022-12-19 11:55:34</p>
                                                                <p th:text="|Учител: ${l.teacher.firstName} ${l.teacher.middleName} ${l.teacher.lastName}|" class="info">Час: 6</p>
                                                                <a  th:href="@{/tables/remove/absence/{id}(id=${l.id})}" class="info remove-button">Remove</a>
                                                                <p class="info" th:text="${inx.index}">0</p>
                                                            </div>
                                                        </div>
                                                </div>
                        </td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(180, 31, 31);">
                                    <p th:text="${s.absences.size()}">3</p>
                                    <div class="absences">
                                        <div th:each="a : ${s.absences}" class="absence">
                                            <p th:text="${a.date}" class="info">2022-12-19 11:55:34</p>
                                            <p th:text="|Учител: ${a.teacher.firstName} ${a.teacher.middleName} ${a.teacher.lastName}|" class="info">Час: 6</p>
                                            <a  th:href="@{/tables/remove/absence/{id}(id=${a.id})}" class="info remove-button">Remove</a>
                                            <p class="info"  th:text="${inx.index}">0</p>
                                        </div>
                                    </div>
                            </div>
                        </td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(134, 255, 134);">
                                <p th:text="${s.absences.size()}">3</p>
                                <div class="absences">
                                    <div th:each="a : ${s.forgiven}" class="absence">
                                        <p th:text="${a.date}" class="info">2022-12-19 11:55:34</p>
                                        <p th:text="|Учител: ${a.teacher.firstName} ${a.teacher.middleName} ${a.teacher.lastName}|" class="info">Час: 6</p>
                                        <a  th:href="@{/tables/remove/absence/{id}(id=${a.id})}" class="info remove-button">Remove</a>
                                        <p class="info"  th:text="${inx.index}">0</p>
                                    </div>
                                </div>
                        </div>
                        </td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(192, 95, 95);">
                                    <p th:text="${s.absences.size()+s.late.size()+s.forgiven.size()}">2</p>
                            </div>
                        </td>
                    </tr>               
                </tbody>
            </table>

        <table id="table2">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Ученик</th>
                    <th>Отсъствие</th>
                    <th>Закъснение</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" th:each="s,inx : ${studentsWithId}">
                    <td class="num" th:text="${inx.index}+1">1</td>
                    <td th:text="${s.name}"> Мариана Василева</td>
                    <td><a th:href="@{/tables/add/absence/{id}(id=${s.id})}" class="remove-button">Отсъствие</a></td>
                    <td><a th:href="@{/tables/add/late/{id}(id=${s.id})}" class="remove-button">Закъснение</a></td>
                 </tr>
            </tbody>
        </table>

        <!-- <div id="add-info" class="additional-info">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
        </div> -->
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/absenceTable.js"></script>
</html>