<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/responseTable-style.css">
</head>
<body>
    
      <div class="container">

          <div th:replace="/fragments/nav::nav"></div>

          <div th:replace="/fragments/nav::userCard"></div>

          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>
            <table id="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Учител</th>
                        <th>Забележки</th>
                        <th>Похвали</th>
                        <th>Забележки</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" th:each="s,iter : ${studentResponses}">
                        <td class="num" th:text="${iter.index}+1">1</td>
                        <td th:text="${s.name}"> Мариана Василева</td>
                        <td > </td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(134, 255, 134);">
                                    <p th:text="${s.goodResponses.size()}">3</p>
                                    <div class="absences">
                                        <div class="absence" th:each="a : ${s.goodResponses}">
                                            <p th:text="${a.dateTime}" class="info">2022-12-19 11:55:34</p>
                                            <p th:text="${a.subject.subject.name}" class="info">Час: 6</p>
                                            <p th:text="|Въведено от ${a.teacher.firstName} ${a.teacher.lastName}|" class="info">Въведено от: Анка Ушанова</p>
                                            <p class="info" th:text="${a.description}">Плебей</p>
                                            <p class="info" th:text="${iter.index}">0</p>
                                        </div>
                                    </div>
                            </div>
                        </td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(180, 31, 31);">
                                <p th:text="${s.badResponses.size()}">2</p>
                               <div class="absences">
                                <div class="absence" th:each="a : ${s.badResponses}">
                                    <p th:text="${a.dateTime}" class="info">2022-12-19 11:55:34</p>
                                    <p th:text="${a.subject.subject.name}" class="info">Час: 6</p>
                                    <p th:text="|Въведено от ${a.teacher.firstName} ${a.teacher.lastName}|" class="info">Въведено от: Анка Ушанова</p>
                                    <p class="info" th:text="${a.description}">Плебей</p>
                                    <p class="info" th:text="${iter.index}">0</p>
                                </div>
                               </div>
                            </div>
                        </td>
                           
                    </tr>               
                </tbody>
            </table>
          <p style="color: #f87373; text-align: center;margin-left: 30%" th:text="${badMessage}"></p>
        <table id="table2">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Ученик</th>
                    <th>Вид</th>
                    <th>Час</th>
                    <th>Бележка</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <form th:action="@{/tables/responses/add/{id}(id=${s.id})}" th:each="s,iter : ${students}" th:method="POST" th:object="${studentResponseBindingModel}">
                <tr class="row">
                    <td th:text="${iter.index}+1" class="num">2</td>
                    <td th:text="${s.name}"> </td>
                    <td><select th:field="*{type}" name="" id="">
                        <option value="Good">Похвала</option>
                        <option value="Bad">Забележка</option>
                    </select></td>
                    <td>
                        <select th:field="*{subject}" name="">
                            <option th:each="c : ${classes}" th:text="${c.name}" th:value="${c.name}">Mat</option>
                        </select></td>
                    <td><input th:field="*{description}" th:errorclass="red-border" type="text"></td>
                    <td><button class="row-button">Добави</button></td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/responseTable.js"></script>
</html>