<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="nav" class="nav-buttons">
    <div class="nav-wrapper">
                   <span title="grades" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
    </div>

    <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="absences">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
    </div>
    </span>
    <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="responses">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
          </span>
    </div>
    <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="teachers">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
         </span>
    </div>
    <div class="nav-wrapper">
                  <span onclick="window.location='/dashboard'"  class="fa-stack fa-lg" title="dashboard">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-arrow-right-from-bracket fa-stack-1x fa-inverse"></i>
          </span>
    </div>
</div>

</body>
</html>