<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/classTable-style.css">
</head>
<body>

      <div class="container">

          <div class="nav-buttons">
              <div class="nav-wrapper">
                   <span title="grades" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
              </div>

            <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="absences">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
            </div>
              </span>
            <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="responses">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
          </span>
            </div>
            <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="teachers">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
         </span>
            </div>
            <div class="nav-wrapper">
                  <span onclick="window.location='/dashboard'"  class="fa-stack fa-lg" title="dashboard">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-arrow-right-from-bracket fa-stack-1x fa-inverse"></i>
          </span>
            </div>
          </div>

            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-user-gear"></i> Radoslav Gurev</p>
                </div>
            </div>


          <div id="buttons-div" class="above-table-buttons">
              <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
              </div>
              <div onclick="addClass()" class="nav-wrapper">
                  <span id="second-button" class="fa-stack fa-lg second-button">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon-table-change" class="fa-solid fa-plus fa-stack-1x fa-inverse"></i>
          </span>
              </div>
          </div>

          <h1 id="asdasd"></h1>
          <table id="table">
              <thead>
              <tr>
                  <th>№</th>
                  <th>Клас</th>
                  <th>Класен</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="c,iter : ${schoolClasses}" class="row">
                <td th:text="${iter.index+1}">1</td>
                  <td>
                      <div>
                          <p th:text="${c.userClass}" >11б</p>
                      </div>
                  </td>
                  <td>
                      <p th:text="|${c.firstName} ${c.middleName} ${c.lastName}|">Ivan</p>
                  </td>
              </tr>

              </tbody>
          </table>


          <div class="cd-popup" role="alert">
              <div class="cd-popup-container">
                  <section id="table3" class="tablee">
                      <div class="tbl-header">
                          <table cellpadding="0" cellspacing="0" border="0">
                              <thead>
                              <tr>
                                  <th>№</th>
                                  <th>Име</th>
                                  <th>Клас</th>
                                  <th>Премахни</th>
                              </tr>
                              </thead>
                          </table>
                      </div>
                      <div class="tbl-content">
                          <table cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                             <tr></tr>
                              </tbody>
                          </table>
                      </div>
                  </section>
<!--                  <a href="#0" class="cd-popup-close img-replace">Close</a>-->
              </div>
          </div>

          <table id="table2">
              <thead>
              <tr>
                  <th>Име</th>
                  <th>Клас</th>
              </tr>
              </thead>
              <tbody>
              <tr class="row" th:each="s : ${nonAssignedStudents}">
                  <form th:action="@{/admin/students/add/class/{id}(id=${s.id})}" th:method="POST" th:object="${adminUpdateStudentClass}">
                      <td>
                          <div>
                              <p th:text="|${s.firstName} ${s.middleName} ${s.lastName}|">Name name</p>
                          </div>
                          <p style="display: none
" th:text="${s.id}" th:field="*{id}"></p>
                      </td>
                      <td>
                          <select th:field="*{userClass}">
                              <option  th:each="c : ${classes}" th:text="${c.classNumber}" th:value="${c.classNumber}">11а</option>
                          </select>
                          <button th:href="@{/admin/students/add/class{id}(id=${s.id})}" class="button">Отвори</button>
                      </td>
                  </form>
              </tr>
              </tbody>
          </table>

          <div id="select-wrapper">
              <form th:action="@{/admin/classes/save/class}" th:method="POST" th:object="${adminNewClassBindingModel}">
                  <select th:field="*{number}" name="">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>

                  <select th:field="*{speciality}" name="">
                      <option th:each="s :${speciality}" th:value="${s.name}" th:text="${s.name}">speciality</option>
                  </select>
                  <button class="add-button">Confirm</button>
              </form>
          </div>

      </div>
</body>

<script>
    const test ='[[${studentsAndTheirClass}]]';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/classTable.js"></script>
</html>