<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/classTable-style.css">
    <link rel="stylesheet" href="/main menu/nav.css">
</head>
<body>

      <div class="container">

          <div class="nav-buttons">
            <span title="grades" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
              <span class="fa-stack fa-lg" title="absences">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
              </span>
              <span class="fa-stack fa-lg" title="responses">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
          </span>
              <span class="fa-stack fa-lg" title="teachers">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
         </span>
              <span onclick="window.location='/dashboard'"  class="fa-stack fa-lg" title="dashboard">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-arrow-right-from-bracket fa-stack-1x fa-inverse"></i>
          </span>
          </div>

            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-user-gear"></i> Radoslav Gurev</p>
                </div>
            </div>

        <table id="table">
            <thead>
                <tr>
                    <th>Материал</th>
                    <th>Взет</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                        
                    <td>
                        <div>
                            <p><i class="fa-solid fa-users-line"></i> Клас: 11б</p>
                        </div>
                    </td>
                    <td>
                     <a href="" class="button">Отвори</a>
                    </td>
                </tr>
                <tr class="row">
                        
                    <td>
                        <div>
                            <p><i class="fa-solid fa-users-line"></i> Клас: 11в</p>
                        </div>
                    </td>
                    <td>
                        <a href="" class="button">Отвори</a>
                    </td>
                </tr>             
            </tbody>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/classTable.js"></script>
</html>