<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/materialTable-style.css">
</head>
<body>
<div class="nav-buttons">
    <div class="nav-wrapper">
                   <span title="grades" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
    </div>

    <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="absences">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
    </div>
    </span>
    <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="responses">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
          </span>
    </div>
    <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="teachers">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
         </span>
    </div>
    <div class="nav-wrapper">
                  <span onclick="window.location='/dashboard'"  class="fa-stack fa-lg" title="dashboard">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-arrow-right-from-bracket fa-stack-1x fa-inverse"></i>
          </span>
    </div>
</div>
            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-graduation-cap"></i> Radoslav Gurev</p>
                </div>
            </div>

          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>

          <div id="add-remove-div">
              <span onclick="addRow()" id="plus-button" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-plus fa-stack-1x fa-inverse"></i>
          </span>
              <span onclick="removeRow()" id="minus-button" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-minus fa-stack-1x fa-inverse"></i>
          </span>
          </div>

        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Материал</th>
                    <th>Взет</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="num">1</td>
                        
                    <td>
                        <div>
                            <p>Произведението "Крадеца на праскови"</p>
                        </div>
                    </td>
                    <td>
                     <a class="button-a">Не Взет</a>
                        <p class="isItTaken" style="display: none;"></p>
                    </td>
                </tr>
                <tr class="row">
                    <td class="num">2</td>
                        
                    <td>
                        <div>
                            <p>Произведението "Крадеца на праскови"</p>
                        </div>
                    </td>
                    <td>
                     <a class="button-a">Не Взет</a>
                        <p class="isItTaken" style="display: none;"></p>
                    </td>
                    <tr class="row">
                        <td class="num">2</td>

                        <td>
                            <div>
                                <p>Произведението "Крадеца на праскови"</p>
                            </div>
                        </td>
                        <td>
                         <a class="taken-button">Взет  <div class="info">
                            <p>Учител: Анка Ушанова</p>
                            <p>Дата: 2012.10.12</p>
                            <p>2</p>
                     </div></a>

                        </td>
                    </tr>
                </tr>             
            </tbody>
        </table>


    <form th:action="@{/admin/material}" th:method="POST">
        <button onclick="changeTest()" id="add-button" type="button">ready</button>
    <table id="table2">
        <thead>
        <tr>
            <th>№</th>
            <th><i class="fa-solid fa-book-open"></i> Предмет</th>
            <th><i class="fa-solid fa-book"></i> Материал</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row">
            <td class="num">1</td>

            <td>
                <div>
                    <p>Предмет: </i> Математика</p>
                </div>
            </td>
            <td>
                <input class="material-input" type="text">
            </td>
        </tr>
        </tbody>
    </table>
</form>

         <div id="select-wrapper">
             <select name="" id="subjects">
                 <option value="">Math</option>
                 <option value="">Programing</option>
                 <option value="">English</option>
             </select>

             <select name="" id="">
                 <option value="">11a</option>
                 <option value="">11b</option>
                 <option value="">11v</option>
             </select>
         </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/materialTable.js"></script>
</html>