<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" href="/css/AdminUI/programTable-style.css">
</head>
<body id="body">

      <div class="container">
          <div th:replace="/fragments/nav::nav"></div>

            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-graduation-cap"></i> Radoslav Gurev</p>
                </div>
            </div>
          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>

          <select name="" id="classSelect"></select>
        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Понеделник</th>
                    <th>Вторник</th>
                    <th>Сряда</th>
                    <th>Четвърък</th>
                    <th>Петък</th>
                </tr>
            </thead>
            <tbody>
               <tr style="display: none"></tr>
            </tbody>
        </table>

        <table id="table2">
            <thead>
                <tr>
                    <th>Учител</th>
                    <th>Предмет</th>
                    <th>Час</th>
                    <th>Ден</th>
                    <th>Клас</th>
                    <th>Стая</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" th:each="t : ${teachers}">
                    <form th:action="@{/admin/program/add/{id}(id=${t.id})}" th:method="POST" th:object="${adminProgramBindingModel}">
                    <td>
                        <p th:text="${t.name}">Анка Ушанова</p>
                        <td>
                            <select th:field="${adminProgramBindingModel.subject}" name="">
                                <option th:each="s : ${t.subjects}" th:text="${s.name}" th:value="${s.name}" value="">Програмиране</option>
                            </select>
                        </td>
                        <td>
                            <select th:field="${adminProgramBindingModel.numOfClass}" name="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                            </select>
                        </td>
                        <td>
                            <select th:field="${adminProgramBindingModel.day}" name="">
                                <option value="Понеделник">Понеделник</option>
                                <option value="Вторник">Вторник</option>
                                <option value="Сряда">Сряда</option>
                                <option value="Четвърък">Четвърък</option>
                                <option value="Петък">Петък</option>
                            </select>
                        </td>
                        <td>
                            <Select th:field="${adminProgramBindingModel.classes}">
                                <option th:each="c : ${classes}" th:text="${c.classNumber}" th:value="${c.classNumber}">8a</option>
                            </Select>
                        </td>
                        <td><input th:field="${adminProgramBindingModel.room}" class="room-input" type="text" placeholder="Стая"></td>
                        <td><button class="add-button">Добави</button></td>
                    </form>
                </tr>               
            </tbody>
        </table>
    </div>
</body>

<script>
    const json='[[${programs}]]';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/js/AdminUI/programTable.js"></script>

</html>