<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/responseTable-style.css">
</head>
<body>
    
      <div class="container">

          <div class="nav-buttons">
              <div class="nav-wrapper">
                   <span title="grades" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
              </div>

              <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="absences">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
              </div>
              </span>
              <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="responses">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
          </span>
              </div>
              <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="teachers">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
         </span>
              </div>
              <div class="nav-wrapper">
                  <span onclick="window.location='/dashboard'"  class="fa-stack fa-lg" title="dashboard">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-arrow-right-from-bracket fa-stack-1x fa-inverse"></i>
          </span>
              </div>
          </div>
            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p> <i class="fa-solid fa-person-chalkboard"></i> Radoslav Gurev</p>
                </div>
            </div>
          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>
            <table id="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Учител</th>
                        <th>Предмет</th>
                        <th>Забележки</th>
                        <th>Похвали</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row">
                        <td class="num">1</td>
                        <td><i class="fa-solid fa-person-chalkboard fa-lg"></i> Мариана Василева</td>
                        <td><i class="fa-solid fa-book-open"></i> Математика</td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(180, 31, 31);">
                                    <p>3</p>
                                    <div class="absences">
                                        <div class="absence">
                                            <p class="info">2022-12-19 11:55:34</p>
                                            <p class="info">Час: 6</p>
                                            <p class="info">Въведено от: Анка Ушанова</p>
                                            <p class="info">Плебей</p>
                                            <p class="info">0</p>
                                        </div>
                                        <div class="absence">
                                            <p class="info">2022-02-19 11:55:34</p>
                                            <p class="info">Час: 5</p>
                                            <p class="info">Въведено от: Анка Ушанова</p>
                                            <p class="info">Лоша дисциплина</p>
                                            <p class="info">0</p>
                                        </div>
                                        <div class="absence">
                                            <p class="info">2022-03-19 11:55:34</p>
                                            <p class="info">Час: 4</p>
                                            <p class="info">Въведено от: Анка Ушанова</p>
                                            <p class="info">Без униформа</p>
                                            <p class="info">0</p>
                                        </div>
                                    </div>
                            </div>
                        </td>
                        <td>
                            <div class="grade-semester gra" style="background-color: rgb(134, 255, 134);">
                                <p>2</p>
                               <div class="absences">
                                <div class="absence">
                                    <p class="info">2022-03-19 11:55:34</p>
                                    <p class="info">Час: 4</p>
                                    <p class="info">Въведено от: Анка Ушанова</p>
                                    <p class="info">Изпълнена задача</p>
                                    <p class="info">0</p>
                                </div>
    
                                <div class="absence">
                                    <p class="info">2022-03-19 11:55:34</p>
                                    <p class="info">Час: 4</p>
                                    <p class="info">Въведено от: Анка Ушанова</p>
                                    <p class="info">Изпълнена задача</p>
                                    <p class="info">0</p>
                                </div>
                               </div>
                            </div>
                        </td>
                           
                    </tr>               
                </tbody>
            </table>
        <table id="table2">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Ученик</th>
                    <th>Вид</th>
                    <th>Час</th>
                    <th>Бележка</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <form th:action="@{/admin/responses/add/{id}(id=${s.id})}" th:each="s,iter : ${students}" th:method="POST" th:object="${studentResponseBindingModel}">
                <tr class="row">
                    <td th:text="${iter.index}+1" class="num">2</td>
                    <td th:text="${s.name}"> </td>
                    <td><select th:field="*{type}" name="" id="">
                        <option value="Good">Похвала</option>
                        <option value="Bad">Забележка</option>
                    </select></td>
                    <td>
                        <select th:field="*{subject}" name="">
                            <option th:each="c : ${classes}" th:text="${c.name}" th:value="${c.name}">Mat</option>
                        </select></td>
                    <td><input th:field="*{description}" type="text"></td>
                    <td><button class="row-button">Добави</button></td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/responseTable.js"></script>
</html>