<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" href="/css/AdminUI/studentsTable-style.css">
</head>
<body>
<div th:replace="/fragments/nav::nav"></div>

<div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-graduation-cap"></i> Radoslav Gurev</p>
                </div>
            </div>

          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>

        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Ученик</th>
                    <th>Email</th>
<!--                    <th>ЕГН</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r,iter : ${schoolStudents}" class="row students">
                    <td th:text="${iter.index+1}" class="num">1</td>
                        
                    <td>
                        <div>
                            <p th:text="|${r.getFirstName()} ${r.getLastName()}|">Радослав Гурев</p>
                        </div>
                    </td>
                    <td>
                     <p th:text="${r.getEmail()}">email@domain.</p>
                    </td>
<!--                    <td th:text="${}">-->
<!--                        0342032952423-->
<!--                    </td>-->
                    <td>
                        <a th:href="@{/admin/students/remove/{id}/(id=${r.id})}" class="remove-button" href="">Изгони</a>
                    </td>
                </tr>
            </tbody>
        </table>

          <div id="fontuser" class="fontuser">
              <input id="search-filter" type="text"
                     placeholder="Enter Email"
                        onkeyup="searchEngine()"
                     name="uname" required>

              <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        <table id="table2">
            <thead>
            <tr>
                <th>№</th>
                <th>Ученик</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r,iter : ${unassignedUsers}" class="row users">
                <td th:text="${iter.index}+1" class="num">1</td>

                <td>
                    <div>
                        <p th:text="|${r.firstName} ${r.lastName}|">fistName lastName</p>
                    </div>
                </td>
                <td>
                    <p th:text="${r.email}">email@domain</p>
                </td>
                <td>
                    <a th:href="@{/admin/students/add/{id}/(id=${r.id})}" class="add-button" href="">Приеми</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/studentsTable.js"></script>
</html>