<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/teachersTable-style.css">
</head>
<body>
      <div class="container">
          <div class="nav-buttons">
              <div class="nav-wrapper">
                   <span title="grades" class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
              </div>

              <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="absences">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-exclamation fa-stack-1x fa-inverse"></i>
          </span>
              </div>
              </span>
              <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="responses">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-medal fa-stack-1x fa-inverse"></i>
          </span>
              </div>
              <div class="nav-wrapper">
                  <span class="fa-stack fa-lg" title="teachers">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-person-chalkboard fa-stack-1x fa-inverse"></i>
         </span>
              </div>
              <div class="nav-wrapper">
                  <span onclick="window.location='/dashboard'"  class="fa-stack fa-lg" title="dashboard">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i  class="fa-solid fa-arrow-right-from-bracket fa-stack-1x fa-inverse"></i>
          </span>
              </div>
          </div>

          <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-user-gear"></i> Radoslav Gurev</p>
                </div>
            </div>
          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>
        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th><i class="fa-solid fa-people-group"></i> Клас</th>
                    <th><i class="fa-solid fa-book"></i> Предмет</th>
`z                </tr>
            </thead>
            <tbody>
                <tr class="row" th:each="c,iter : ${classesWithId}">
                    <td class="num" th:text="${iter.index}+1">1</td>
                        
                    <td>
                        <div>
                        <p th:text="${c.classWithSpeciality}">Class</p>
                        </div>
                    </td>
                    <td>
<!--th:action="@{/admin/teacher/add/subject/{id}/(id=${t.id})}"-->
                        <form th:method="GET" th:action="@{/admin/subject/class/add/{id}(id=${c.id})}" th:object="${adminSubjectBindingModel}">
                            <div>
                                <select th:field="*{subject}" class="row-select">
                                    <option th:each="s : ${subjects}" th:text="${s.name}" th:value="${s.name}">aas</option>
                                </select>
                                <button class="row-button">Добави</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

          <form th:method="POST" th:action="@{/admin/subjects}" th:object="${adminSubjectBindingModel}">
              <div id="table2" class="add-teachers">
                  <input th:field="*{subject}" type="text" placeholder="Предмет">
                  <button>Готово</button>
              </div>
          </form>
      </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/teachersTable.js"></script>
</html>