<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="teachersTable-style.css">
</head>
<body>
    <a class="exit-button" href=""><i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i></a>

      <div class="container">

            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-graduation-cap"></i> Radoslav Gurev</p>
                </div>
            </div>
            <button onclick="tbChange()" class="add-button">Добави учител</button>
        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Учител</th>
                    <th></th>
                   
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="num">1</td>
                        
                    <td>
                        <div>
                            <p>Анка Ушанова</p>
                        </div>
                    </td>
                    <td>
                     <button class="button-a">Премахване</button>
                    </td>
                </tr>
                <tr class="row">
                    <td class="num">2</td>
                        
                    <td>
                        <div>
                            <p>Анка Ушанова</p>
                        </div>
                    </td>
                    <td>
                     <button class="button-a">Премахване</button>
                    </td>
                    <tr class="row">
                        <td class="num">2</td>
                            
                        <td>
                            <div>
                                <p>Анка Ушанова</p>
                            </div>
                        </td>
                        <td>
                            <button class="button-a">Премахване</button>
                        
                        </td>
                    </tr>      
                </tr>             
            </tbody>
        </table>

        
       <div id="table2" class="add-teachers">

       </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="teachersTable.js"></script>
</html>