<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/SuperAdminUI/AdminAndSchoolAdd.css">
</head>
<body>

<div class="container">
    <div th:replace="/fragments/nav::nav"></div>
<form th:action="@{/super/add/admin/school/{id}(id=${SchoolName.id})}" th:method="POST" th:object="${userRegisterBindingModel}">
    <div id="form">
        <h3 style="text-align: center; color: #fff; margin-top: 10px" th:text="${SchoolName.name}"></h3>
        <input th:field="*{firstName}" type="text" placeholder="Име">
        <input th:field="*{lastName}" type="text" placeholder="Фамилия">
        <input th:field="*{email}" type="text" placeholder="Email">
        <button>Запиши</button>
    </div>
</form>
</div>
</body>
</html>