<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/SuperAdminUI/AdminAndSchoolAdd.css">
</head>
<body>

<div class="container">
    <div th:replace="/fragments/nav::nav"></div>
<form th:action="@{/super/add/schoolAndAdmin}" th:method="POST" th:object="${adminAndSchoolBindingModel}">
    <div id="form">
        <input th:field="*{firstName}" type="text" placeholder="Име">
        <input th:field="*{lastName}" type="text" placeholder="Фамилия">
        <input th:field="*{email}" type="text" placeholder="Email">
        <input th:field="*{school}" type="text" placeholder="Име на училище">
        <button>Запиши</button>
    </div>
</form>
</div>
</body>
</html>