<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/AdminUI/absenceTable-style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
      <div class="container">
          <div th:replace="/fragments/nav::nav"></div>
          <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-user-gear"></i> Radoslav Gurev</p>
                </div>
            </div>

          <div onclick="window.location='/super/add/schoolAndAdmin'" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-plus fa-stack-1x fa-inverse"></i>
          </span>
          </div>

          <table id="table2" style="left: 50%">
              <thead>
              <tr>
                  <th>№</th>
                  <th>Директор</th>
                  <th>Училище</th>
                  <th></th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="s,iter : ${Schools}">
                     <td>
                         <div>
                             <p th:text="${iter.index+1}">Name name</p>
                         </div>
                     </td>
                      <td>
                          <div>
                              <p th:text="|${s.user.firstName} ${s.user.middleName} ${s.user.lastName}|">Name name</p>
                          </div>
                      </td>
                      <td>
                          <div>
                              <p th:text="${s.school.getName()}">Name name</p>
                          </div>
                      </td>
                      <td>
                          <a th:href="@{/super/remove/school/{id}/(id=${s.school.id})}" class="remove-button">Премахни</a>
                      </td>
                  <td>
                      <a th:href="@{/super/add/admin/school/{id}/(id=${s.school.id})}" class="row-button">Добави админ</a>
                  </td>
              </tr>
              </tbody>
          </table>


      </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var test = '[]';
</script>
<script src="/js/AdminUI/classTable.js"></script>
</html>