<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/AdminUI/gradesTable-style.css">
</head>
<body>
    
      <div class="container">

          <div th:replace="/fragments/nav::nav"></div>

          <div class="user">
              <div>
                  <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                  <p> <i class="fa-solid fa-person-chalkboard"></i> Radoslav Gurev</p>
              </div>
          </div>
          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>
        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Ученик</th>
                    <th>Предмет</th>
                    <th>Оценки</th>
                    <th>Срочна</th>
                    <th>Оценки</th>
                    <th>Срочна</th>
                    <th>Годишна</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" th:each="s,iter : ${studentsWithGrades}">
                    <td th:text="${iter.index}+1" class="num">1</td>
                    <td th:text="${s.student}">Мариана Василева</td>
                    <td><i class="fa-solid fa-book-open"></i> Математика</td>
                    <td>
                                                <div th:each="g : ${s.gradesFirst}" class="grade">
                                                    <p th:text="${g.grade.charAt(0)}">2</p>
                                                    <p class="info">Дата: 28.04.2022</p>
                                                    <p th:text="${g.type}" class="info">Тип: Изпит</p>
                                                    <p th:text="${g.grade}" class="info">Оценкта: 2.66</p>
                                                    <p th:text="${g.subject}" class="info">Предмет: Математика</p>
                                                    <p th:text="${iter.index}" class="info">0</p>
                                            </div>
                                </td>
                            <td>
                                <div class="grade-semester">
                                    <p th:text="${s.gradesFirstFinal}">5</p>
                            </div>
                            </td>
                                        <td>
                                            <div th:each="g : ${s.gradesSecond}" class="grade">
                                                <p th:text="${g.grade.charAt(0)}">2</p>
                                                <p class="info">Дата: 28.04.2022</p>
                                                <p th:text="${g.type}" class="info">Тип: Изпит</p>
                                                <p th:text="${g.grade}" class="info">Оценкта: 2.66</p>
                                                <p th:text="${g.subject}" class="info">Предмет: Математика</p>
                                                <p th:text="${iter.index}" class="info">0</p>
                                            </div>

                    </td>
                    <td>
                        <div class="grade-semester">
                            <p th:text="${s.gradesSecondFinal}">5</p>
                    </div>
                    </td>
                    <td>
                        <div class="grade-semester">
                            <p th:text="${s.finalGrades}">5</p>
                    </div>
                    </td>
                </tr>

            </tbody>
        </table>


          <form th:action="@{/admin/grade/{id}(id=${id})}" th:method="POST" th:object="${getUserGradesBindingModel}">

                 <div id="subject-select">

                     <button id="submit-button" class="display">Enter</button>

                     <select th:field="*{subject}" id="subjects">
                         <option th:each="s : ${subjects}" th:value="${s.id}" th:text="${s.name}"></option>
                     </select>
                 </div>

              <table id="table2">
                  <thead>
                  <tr>
                      <th>№</th>
                      <th>Ученик</th>
                      <th>Оценка</th>
                      <th>Вид оценка</th>
                      <th>Причина</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="row" th:each="s,iter : ${studentsWithId}">
                      <td th:text="${iter.index}+1" class="num">1</td>
                      <td th:text="${s.name}"> Мариана Василева</td>
                      <td>
                          <div class="grades">
                              <div class="enter-grade">
                                  <p>2</p>
                              </div>
                              <div class="enter-grade">
                                  <p>3</p>
                              </div>
                              <div class="enter-grade">
                                  <p>4</p>
                              </div>
                              <div class="enter-grade">
                                  <p>5</p>
                              </div>
                              <div class="enter-grade">
                                  <p>6</p>
                              </div>
                          </div>

                          <div class="input display">
                              <input th:field="${getUserGradesBindingModel.grades[__${iter.index}__].grade}" type="text">
                              <button type="button" class="back-btn">back</button>
                          </div>
                      </td>
                      <td><select th:field="${getUserGradesBindingModel.grades[__${iter.index}__].type}">
                      <option value="first-semester">Първи срок</option>
                      <option value="final-first-semester">Срочна първи срок</option>
                      <option value="second-semester">Втори срок</option>
                      <option value="final-second-semester">Срочна втори срок
                      <option value="final">Годишна</option>
                      </select> </td>
                      <td><input th:field="${getUserGradesBindingModel.grades[__${iter.index}__].reason}" type="text" placeholder="Причина"></td>
                  </tr>
                  </tbody>
              </table>
          </form>

        <!-- <div id="add-info" class="additional-info">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
        </div> -->
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/gradesTable.js"></script>
</html>