<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/materialTable-style.css">
</head>
<body>
<div class="container">
        <div th:replace="/fragments/nav::nav"></div>


            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-graduation-cap"></i> Radoslav Gurev</p>
                </div>
            </div>

        <table id="table">
            <thead>
                <tr>
                    <th><i class="fa-solid fa-people-group"></i> Клас</th>
                    <th><i class="fa-solid fa-book-open"></i> Предмет</th>
                    <th><i class="fa-solid fa-book"></i> Материал</th>
                    <th>Взет</th>

                </tr>
            </thead>
            <tbody>

<!--            nontaken-->
            <tr class="row" th:each="t,inx : ${Taken}">
                <td class="num" th:text="${t.classes}">2</td>
                <td>
                    <p th:text="${t.subject}">subject</p>
                </td>
                <td>
                    <div>
                        <p th:text="${t.name}">Произведението "Крадеца на праскови"</p>
                    </div>
                </td>
                <td>
                    <a class="taken-button">Взет  <div class="info">
                        <p th:text="|Учител: ${t.teacher}|">Учител: Анка Ушанова</p>
                        <p th:text="${t.date}">Дата: 2012.10.12</p>
                        <p th:text="${t.id}"></p>
                        <p th:text="${inx.index}">row</p>
                    </div></a>
                </td>
            </tr>


                <tr class="row" th:each="t,inx : ${nonTaken}">
                    <td class="num" th:text="${t.classes}">1</td>
                    <td>
                        <p th:text="${t.subject}">subject</p>
                    </td>
                    <td>
                        <div>
                            <p th:text="${t.name}">Произведението "Крадеца на праскови"</p>
                        </div>
                    </td>
                    <td>
                     <a th:href="@{/teacher/material/take/{id}(id=${t.id})}" class="button-a">Не Взет</a>
                    </td>
                    <td>
                        <a th:class="remove-button" th:href="@{/teacher/material/remove/{id}(id=${t.id})}">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/AdminUI/materialTable.js"></script>
</html>