<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/programTable-style.css">
</head>
<body id="body">

      <div class="container">
          <div th:replace="/fragments/nav::nav"></div>

            <div class="user">
                <div>
                    <img class="imgStudent" src="https://style.anu.edu.au/_anu/4/images/placeholders/person.png" alt="">
                    <p><i class="fa-solid fa-graduation-cap"></i> Radoslav Gurev</p>
                </div>
            </div>
          <div onclick="tbChange()" class="wrapper">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-circle fa-stack-2x"></i>
            <i id="icon" class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
          </span>
          </div>

          <select name="" id="classSelect"></select>
        <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Понеделник</th>
                    <th>Вторник</th>
                    <th>Сряда</th>
                    <th>Четвърък</th>
                    <th>Петък</th>
                </tr>
            </thead>
            <tbody>
               <tr style="display: none"></tr>
            </tbody>
        </table>
    </div>
</body>

<script>
    const json='[[${programs}]]';
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/js/AdminUI/programTable.js"></script>

</html>