<!DOCTYPE html>
<html lang="en" class="mainBody"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body>

  <nav th:replace="fragments/commons::nav"></nav>
  <div class="table">
    
    <div class="wrapper">
      <form th:action="@{/teachers/entergrades}" th:method="POST" th:object="${gradesBindingModel}">
      <div class="table">
        <div class="row header">
          <div class="cell">
            Name
          </div>
          <div class="cell">
            Grade
          </div>
        </div>
        
        <div class="row" th:each="student,index : ${students}">
          <div class="cell" data-title="Name">
            <p th:text="${student.name}" name="name">Name</p>
          </div>

          <div class="cell div-grade"  name="div-grade" data-title="Location">
            <div all-button-divs class="button-div">
           <button buttons-grade type="button" value="2">2</button>
           <button buttons-grade type="button" value="3">3</button>
           <button buttons-grade type="button" value="4">4</button>
           <button buttons-grade type="button" value="5">5</button>
           <button buttons-grade type="button" value="6">6</button>
          </div>
          <div class="hidden hide return-div">
            <input th:field="*{grades[__${index.index}__]}" type="text" inputs class="grade-input"/>
            <button class="return-button" type="button" >cancel</button>
          </div>
          </div>
        </div>
    </div>


        <button type="submit" class="table-button">Buton4e</button>
  </form>
  </div>

  </div>
</body>
</html>