<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body class="body">
    <main>
        <nav th:replace="fragments/commons::nav"></nav>
        <br>
        

        <div class="login">
        <form class="container" th:method="post" th:action="@{/users/login}">
            <h1 class="txt"гитхуб>Login</h1>
            <div class="col-sm-10"></div><br>
            <input id="username" name="username" th:value="${email}" class="form-control" type="text" placeholder="email"/>
            <br><br>
            <input id="password" name="password" class="form-control" type="password" placeholder="password"/>
            <br><br>
            <p th:if="${invalid_login}"  class="errors alert alert-danger">
              Incorrect username or password.
          </p>
            <button type="submit" class="submit-button">Enter</button>

        </form>
        </div>
    </main>
</body>
</html>