.pane {
    background-color: #dfdaf1;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 600px;
    max-height: 600px;
    margin: 38vh auto;
    animation: fade 250ms ease-in-out forwards;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
  }

  .form-group:last-child {
    margin: 0;
  }
  
  .form-group > label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
  }
  
  .form-group > input::-webkit-outer-spin-button,
  .form-group > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .form-group > input , .form-group > select{
    border: 1px solid #333;
    border-radius: 15px;
    font-size: 1rem;
   padding-left: 10px;
    height: 35px;
  }

.form-group >select:placeholder-shown{
  color: #1b9bff;
}

  .hide {
      display: none ;
  }

  .step-title {
    margin: 0 0 1rem;
    text-align: center;
  }
  
  .pane.active {
  
    animation: slide 250ms 125ms ease-in-out both;
  }
  
  .multi-step-form {
    overflow: hidden;
    position: relative;
  }
  
  .hide {
    display: none;
  }

  @keyframes slide {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(.75);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }