* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CAEEC2;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.grade {
    width: 15px;
    height: 20px;
    background-color: rgb(255, 97, 97);
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    float: left;
    margin: 5px;
}

.grade p {
        margin-top: 2px;
}

.grade-semester {
    background-color: rgb(167, 167, 236);
    width: 60px;
    height: 20px;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    margin: 10px;
}
.red-border {
    border: 1px solid red;
}

.grade-semester p {
    margin-top: 2px;
}

.grade:hover , .grade-semester:hover {
    cursor: pointer;
}

.name {
    font-size: 30px;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
table {
    width: 1400px;
    position: absolute;
    left: 50%;
    top: -2000px;
    transform: translateX(-50%);
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: all 1s ease;
}
#table2 {
    width: 1400px;
    position: absolute;
    left: 150%;
    top: 150px;
    transform: translateX(-50%);
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: all 1s ease;
}
tr {
    transition: all 3s ease;
}

th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    /* font-weight: bold; */
    font-family: sans-serif,Arial, Helvetica;
    
}
th {
    text-align: left;
}
thead th {
    background-color: #078282FF;
}
tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}
tbody td {
    position: relative;
    background-color: #adcea6;
    
}

.row {
    opacity: 0;
}

.num {
    text-align: center;
}

.info {
    display: none;
}

.additional-info {
    position: absolute;
    /* right: -100%; */
    right: 30px;
    top: 50px;
    width: 200px;
    height: 20px;
    background-color: #00203FFF;
    border-radius: 15px;
    color: #fff;
    padding: 25px;
}

select {
    width: 200px;
    color: white;
    text-align: center;
    height: 35px;
    border-radius: 15px;
    background-color: #078282FF;
}

input {
    background-color: #078282FF;
    border: 0;
    padding: 5px;
    border-radius: 15px;
    width: 200px;
    color: #fff;
    height: 35px;
}

select, input {
    border: none;
    outline: none;
}

.additional-info p {
    margin: 25px 20px;
}

.no-border {
    border: transparent;
    background-color: #6c8d65;
    line-height: 22px;
}

.no-border p {
    font-size: 20px;
    
}

.user {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background-color: #00203FFF;
    margin-top: 20px;
    margin-left: 40px;
    color: #fff;
    border: #fff solid;
}

.user p {
    margin-top: -35px;
    margin-left: 80px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.user img {
    margin: 8px;
    height: 35px;
    width: 45px;
    border-radius: 50%;
}

.nav-buttons {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 1;
}

.wrapper:hover .fa-stack, .nav-wrapper:hover .fa-stack{
    transition: 0.9s;
    transform: rotateY(180deg);
    cursor: pointer;
}
.wrapper .fa-stack,.nav-wrapper .fa-stack {
    transition: 0.9s;
}
.fa-circle {
    color: #00203FFF;
}

.wrapper{
    display: inline-block;
    width: 50px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.row-button {
    border: none;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    color: black;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #6c8d65 50%, #078282FF 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;
}

.row-button:hover {
    background-position: right bottom;
    color: #fff;
}
.nav-wrapper {
    display: inline-block;
    width: 50px;
    overflow: hidden;
    text-align: center;
}

      .not-selected-absence {
          background-color: rgb(180, 31, 31);
      }
      
      .not-selected-late {
        background-color: rgb(248, 112, 112);
      }

      .selected-absence {
        background-color: rgb(112, 22, 22);
    }

      .selected-late {
        background-color: rgb(146, 63, 63);
        }











