<!DOCTYPE html>
<html lang="en" class="mainBody"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body>

  <nav th:replace="fragments/commons::nav"></nav>
  <div class="table">
    
    <div class="wrapper">
  
      <div class="table">
        
        <div class="row header">
          <div class="cell">
            Name
          </div>

          <div class="cell">
            Subject
          </div>
          <div class="cell">
            Grade
          </div>
        </div>
        
        <div class="row">
          <div class="cell" data-title="Name">
            <p name="name">Luke Peters</p>
          </div>

          <div class="cell" data-title="Occupation">
            <p subject-name>Math</p>
          </div>
          <div class="cell div-grade"  name="div-grade" data-title="Location">
            <div all-button-divs class="button-div">
           <button buttons-grade value="2">2</button>
           <button buttons-grade value="3">3</button>
           <button buttons-grade value="4">4</button>
           <button buttons-grade value="5">5</button>
           <button buttons-grade value="6">6</button>
          </div>
          <div class="hidden hide return-div">
            <input type="text" inputs class="grade-input"/>
            <button class="return-button" >cancel</button>
          </div>
          </div>
        </div>
        
        <div class="row">
          <div class="cell" data-title="Name">
            <p name="name">Luke Peters</p>
          </div>
          <div class="cell" data-title="Subject">
            <p subject-name>Programming</p>
          </div>
          <div class="cell" name="div-grade" data-title="Grade">
            <div all-button-divs class="button-div">
           <button buttons-grade value="2">2</button>
           <button buttons-grade value="3">3</button>
           <button buttons-grade value="4">4</button>
           <button buttons-grade value="5">5</button>
           <button buttons-grade value="6">6</button>
          </div>
          <div class="hidden hide return-div">
            <input type="number" inputs class="grade-input">
            <button class="return-button" >cancel</button>
          </div>
          </div>

      </div>
    </div>
    </div>
    </div>
  <button onclick="getGrades()" style="width: 100px;height: 100px">Buton4e</button>
</body>
</html>