<!DOCTYPE html>
<html lang="en" class="mainBody">
<head th:replace="fragments/commons::head">
</head>
<body>
<script src="/js/InformationAnimation.js" defer></script>

    <nav th:replace="fragments/commons::nav"></nav>

    <form data-multi-step class="mutli-step-form">
        <div class="pane active" data-step>
            <h3 class="step-title">This is step 1</h3>
            <div class="form-group">
                <input  type="text" name="middle name" id="middle name" placeholder="Middle name (optional)">
            </div>
            <div class="form-group">
                <input required type="text" name="username" id="username" placeholder="username">
            </div>
            <button type="button" class="submit-button" data-next>Next</button>
        </div>
        <div class="pane" data-step>
            <h3 class="step-title">This is step 2</h3>
            <div class="form-group">
                <input required type="text" name="address" id="address" placeholder="address">
            </div>
            <div class="form-group">
                <input required type="text" name="zipcode" id="zipcode" placeholder="zipcode">
            </div>
            <div class="form-group">
                <select name="country" id="country">
                    <option>Select Country</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="form-group hide" id="city">
                <select name="city">
                    <option>grad</option>
                    <option>grad1</option>
                    <option>grad2</option>
                </select>
            </div>
            <button type="button" class="submit-button" data-previous>Previous</button>
            <button type="button" class="submit-button" data-next>Next</button>
        </div>
        <div class="pane" data-step>
            <h3 class="step-title">This is step 3</h3>
            <div class="form-group">
                <input required type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <input required type="text" name="middle name" id="123133123123">
            </div>
            <div class="form-group">
                <input required type="LastName"  name="middle name" id="23423423432">
            </div>
            <button type="button" class="submit-button" data-previous>Previous</button>
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>
</body>
</html>