<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body class="body">
    <main>
        <nav th:replace="fragments/commons::nav"></nav>
        

         <div class="index-div">
          <h1 class="partners-txt txt">Our partners</h1>

          <div class="big">
            <article class="recipe">
             <div class="pizza-box">
               <img src="" width="500" height="400" alt="">
             </div>
             <div class="recipe-content">       
               <h1 class="recipe-title"><a href="#">School</a></h1>
  
         
               <p class="recipe-desc">kys</p>
         
               <button class="recipe-save" type="button">
                 Check out
               </button>
         
             </div>
           </article>
         </div>

         <div class="big">
          <article class="recipe">
           <div class="pizza-box">
             <img src="" width="500" height="400" alt="">
           </div>
           <div class="recipe-content">       
             <h1 class="recipe-title"><a href="#">School</a></h1>

       
             <p class="recipe-desc">kys</p>
       
             <button class="recipe-save" type="button">
               Check out
             </button>
       
           </div>
         </article>
       </div>
       <div class="big">
        <article class="recipe">
         <div class="pizza-box">
           <img src="" width="500" height="400" alt="">
         </div>
         <div class="recipe-content">       
           <h1 class="recipe-title"><a href="#">School</a></h1>

     
           <p class="recipe-desc">kys</p>
     
           <button class="recipe-save" type="button">
             Check out
           </button>
     
         </div>
       </article>
     </div>
         </div>

    </main>
</body>
</html>