<html lang="en" class="mainBody">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="body">
    <main>
        <nav class="navigation">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="#">Home</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        <br>
        
        </div>
        <div class="login">
        <form class="container" action="/">
            <h1 class="txt">Login</h1> 
            <div class="col-sm-10"></div><br>
            <input class="normal-box" type="text" placeholder="email">
            <br><br>
            <input class="password-box" type="password" placeholder="password"/>
            <br><br>
            <p  class="errors alert alert-danger">
              Incorrect username or password.
          </p>
            
            <button type="submit" class="submit-button">Enter</button>

        </form>
    
    </main>
<body>

</body>

</html>