<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body class="body">
    <main>
        <nav th:replace="fragments/commons::nav"></nav>
        <br>
        
        </div>
        <div class="login">
        <form class="container" method="post" th:action="@{/users/login}">
            <h1 class="txt">Login</h1> 
            <div class="col-sm-10"></div><br>
            <input id="username" name="username" class="normal-box" type="text" placeholder="email">
            <br><br>
            <input id="password" name="password" class="password-box" type="password" placeholder="password"/>
            <br><br>
            <p  class="errors alert alert-danger">
              Incorrect username or password.
          </p>
            
            <button type="submit" class="submit-button">Enter</button>

        </form>
    
    </main>
<body>

</body>

</html>