<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/gradesTable-style.css">
</head>
<body>
      <div class="container">
          <div th:replace="/fragments/nav::nav"></div>
          <div th:replace="/fragments/nav::userCard"></div>

          <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Учител</th>
                    <th>Оценки</th>
                    <th>Срочна</th>
                    <th>Оценки</th>
                    <th>Срочна</th>
                    <th>Годишна</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" th:each="g,iter : ${grades}">
                    <td class="num" th:text="${iter.index}+1">1</td>

                    <td th:text="${g.subject}"> Математика</td>
                    <td>
                                                <div class="grade" th:each="g : ${g.firstGrade}">
                                                    <p th:text="${g.grade.charAt(0)}">2</p>
                                                    <p th:text="${g.date}" class="info">Дата: 28.04.2022</p>
                                                    <p th:text="${g.reason}" class="info">Тип: Изпит</p>
                                                    <p th:text="${g.grade}" class="info">Оценкта: 2.66</p>
                                                    <p th:text="${g.subject}" class="info">Предмет: Математика</p>
                                                    <p th:text="${iter}" class="info">0</p>
                                            </div>
                    </td>
                    <td>  
                        <div class="grade-semester">
                            <p th:text="${g.firstGradeFinal}">5</p>
                    </div>
                    </td>
                                        <td>
                                            <div class="grade" th:each="g : ${g.secondGrade}">
                                                <p th:text="${g.grade.charAt(0)}">2</p>
                                                <p th:text="${g.date}" class="info">Дата: 28.04.2022</p>
                                                <p th:text="${g.reason}" class="info">Тип: Изпит</p>
                                                <p th:text="${g.grade}" class="info">Оценкта: 2.66</p>
                                                <p th:text="${g.subject}" class="info">Предмет: Математика</p>
                                                <p th:text="${iter}" class="info">0</p>
                                            </div>


                    </td>
                    <td>
                        <div class="grade-semester">
                            <p th:text="${g.secondGradeFinal}">5</p>
                    </div>
                    </td>
                    <td>
                        <div class="grade-semester">
                            <p th:text="${g.gradeFinal}">5</p>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <div id="add-info" class="additional-info">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
        </div> -->
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/StudentUI/gradesTable.js"></script>
</html>