<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="programTable-style.css">
    <link rel="stylesheet" href="/main menu/nav.css">
</head>
<body>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
  	<nav class="nav"> 		
  		<ul class="pt-5">
  			<li><a href="#"><i class="fa-solid fa-graduation-cap"></i> Оценки</a></li>
        <li><a href="#"><i class="fa-solid fa-circle-exclamation"></i> Отсъствия</a></li>
              <li><a href="#"><i class="fa-solid fa-medal"></i> Отзиви</a></li>
  		</ul>
  	</nav>
      <div class="container">

          <div th:replace="/fragments/nav::userCard"></div>


          <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Понеделник</th>
                    <th>Вторник</th>
                    <th>Сряда</th>
                    <th>Четвърък</th>
                    <th>Петък</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="num">1</td>
                        
                    <td>
                        <div>
                            <p>Операционни Систени</p>
                           <div class="class-info">
                            <p class="teacher">м.Джилджов</p>
                            <p class="room">5.7</p>
                           </div>
                        </div>
                    </td>
                    <td>
                      <p> Физическо възпитание и спорт </p>
                      <div class="class-info">
                        <p class="teacher">Ж.Иванов</p>
                        <p class="room">ФС</p>
                      </div>
                    </td>
                    <td>
                        <p>Обектно ориентирано програмиране</p>
                       <div class="class-info">
                        <p class="teacher">А.Ушанова</p>
                        <p class="room">6.2</p>
                      </div>
                    </td>
                    <td>
                       <p>Обектно ориентирано програмиране</p>
                       <div class="class-info">
                        <p class="teacher">А.Ушанова</p>
                        <p class="room">6.2</p>
                      </div>
                    </td>
                    <td>
                        <p>Бизнес комуникации</p>
                        <div class="class-info">
                         <p class="teacher">Мар.Анг-ва</p>
                         <p class="room">2.2</p>
                       </div>
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="programTable.js"></script>
</html>