<html class="mainBody" lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/AdminUI/responseTable-style.css">
</head>
<body>
      <div class="container">
          <div th:replace="/fragments/nav::nav"></div>
          <div th:replace="/fragments/nav::userCard"></div>


          <table id="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Предмет</th>
                    <th>Забележки</th>
                    <th>Похвали</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" th:each="r,iter : ${responses}">
                    <td class="num" th:text="${iter.index}+1" >1</td>
                    <td th:text="${r.subject}"> Математика</td>
                    <td>
                        <div class="grade-semester gra" style="background-color: rgb(180, 31, 31);">
                                <p th:text="${r.goodResponse.size()}">3</p>
                                <div class="absences">
                                    <div class="absence" th:each="g : ${r.goodResponse}">
                                        <p class="info" th:text="${g.dateTime}">2022-12-19 11:55:34</p>
                                        <p class="info" th:text="${g.type.type.name()}">2022-12-19 11:55:34</p>
                                        <p class="info" th:text="|${g.teacher.firstName} ${g.teacher.middleName} ${g.teacher.lastName}|">Въведено от: Анка Ушанова</p>
                                        <p class="info" th:text="${g.description}">Плебей</p>
                                        <p class="info" th:text="${iter.index}">0</p>
                                    </div>
                                </div>
                        </div>
                    </td>
                    <td>
                        <div class="grade-semester gra" style="background-color: rgb(134, 255, 134);">
                            <p th:text="${r.badResponse.size()}">2</p>
                           <div class="absences">
                               <div class="absence" th:each="g : ${r.badResponse}">
                                   <p class="info" th:text="${g.dateTime}">2022-12-19 11:55:34</p>
                                   <p class="info" th:text="${g.type.type.name()}">2022-12-19 11:55:34</p>
                                   <p class="info" th:text="|${g.teacher.firstName} ${g.teacher.middleName} ${g.teacher.lastName}|">Въведено от: Анка Ушанова</p>
                                   <p class="info" th:text="${g.description}">Плебей</p>
                                   <p class="info" th:text="${iter.index}">0</p>
                               </div>
                           </div>
                        </div>
                    </td>
                       
                </tr>               
            </tbody>
        </table>

        <!-- <div id="add-info" class="additional-info">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
        </div> -->
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/StudentUI/responseTable.js"></script>
</html>