<html class="mainBody" lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form th:action="@{/login}" th:method="POST">
					<label for="chk" aria-hidden="true">Login</label>
					<input id="username" th:value="${email}" name="username" type="email" placeholder="Email" required="">
					<input id="password" name="password" type="password" placeholder="Парола" required="">
					<button type="submit">Login</button>

					<p th:if="${invalid_login}" class="bad-credentials">Invalid email address or password</p>
				</form>
			</div>

			<div class="login">
				<form th:action="@{/register}" th:method="POST" th:object="${userRegisterBindingModel}">
					<label for="chk" aria-hidden="true">Sign up</label>
					<p style="text-align: center;margin-top: -30px; color: #5e6e8d; size: 10px">Length must be 3 to 20 characters</p>
					<input th:field="*{firstName}" th:errorclass="red-border" type="text" name="txt" placeholder="Име" required="">
                    <input th:field="*{lastName}" th:errorclass="red-border" type="text" name="txt" placeholder="Фамилия" required="">
					<input th:field="*{email}" th:errorclass="red-border" type="email" name="email" placeholder="Email" required="">
					<input th:field="*{password}" th:errorclass="red-border" type="password" name="pswd" placeholder="Парола" required="">
					<button type="submit">Sign up</button>
				</form>
			</div>
	</div>
</body>
</html>